@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Agenda-Medium';
  src: url('./fonts/Agenda-Medium.eot');
  src: url('./fonts/Agenda-Medium.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Agenda-Medium.woff2') format('woff2'),
       url('./fonts/Agenda-Medium.woff') format('woff'),
       url('./fonts/Agenda-Medium.svg#Agenda') format('svg');
}

@font-face {
  font-family: 'Agenda-Light';
  src: url('./fonts/Agenda-Light.eot');
  src: url('./fonts/Agenda-Light.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Agenda-Light.woff2') format('woff2'),
       url('./fonts/Agenda-Light.woff') format('woff'),
       url('./fonts/Agenda-Light.svg#Agenda') format('svg');
}

.font-agenda-medium {
  font-family: 'Agenda-Medium' ,Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.font-agenda-light {
  font-family: 'Agenda-Light' ,Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.App {
  text-align: center;
  width: 1920px;
  height: 1080px;
  background: gray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
